@import 'variables'

html
  height 100vh
  font-size 100%
  max-width 100vw
  width 100vw
#nav-title
  padding 1rem 2rem 1rem 1rem
#pl-cloud
  height 80%
  max-height 80%
  max-width 75%
  width 75%
.dbf
  &-container
    -webkit-flex-direction column
    display -webkit-flex
    display flex
    flex-direction column
    height 100%
    height 100%
    max-width 100%
    width 100%
  &-header
    -webkit-order 0
    background-color $material-black
    color $material-soft-white
    height 5%
    max-height 5%
    max-width 100%
    order 0
    width 100%

    &-nav
      height 100%
      max-height 100%
      max-width 100%
      width 100%

      &-list
        -webkit-align-content center
        -webkit-align-items stretch
        -webkit-flex-direction row
        -webkit-flex-wrap nowrap
        -webkit-justify-content flex-start
        align-content center
        align-items center
        display -webkit-flex
        display flex
        flex-direction row
        flex-wrap nowrap
        height 100%
        justify-content flex-start
        max-height 100%
        max-width 100%
        text-align center

        &-item
          -webkit-align-self center
          align-self center
          padding 1rem

          &-content
            color $material-soft-white
            text-align center
  &-h1
    font-style italic
    font-size 2rem
  &-h2
    font-style italic
    font-size 1.5rem
  &-p
    max-width 55%
    width 55%
  &-main
    -webkit-order 1
    height 93%
    max-height 93%
    max-width 100%
    order 1
    padding 1rem
    width 60%
    word-wrap break-word
  &-footer
    -webkit-order 2
    bottom 0
    height 2%
    max-height 2%
    max-width 100%
    order 2
    padding .5rem
    right 0
    width 100% - 3rem
