extends layout

block content
  h1.dbf-h1
    | Programming Language DB
  br
  img#pl-cloud(src="assets/img/lang-cloud.jpg", alt="word cloud of programming languages, from http://d2rsystems.com")
  br
  p.dbf-p
    | An exploration of database systems for SYCS-432 Howard University, Database Systems. We've developed a database of
    | Programming Languages that allows users to learn about the languages they're using
    | who created it and the accompanying paradigms.
    | Created to facilitate a curiosity with a often unnoticed aspect of Computer Science.
    | Programming Languages are the paint for our art, take a dip!
