doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    title
      | ProgLang DB
    link(rel='stylesheet' href='/css/fix.css')
    link(rel='stylesheet' href='/css/main.css')
  body.dbf-container
    header.dbf-header
      nav.dbf-header-nav
        ul.dbf-header-nav-list
          li#nav-title.dbf-header-nav-list-item
            h3.dbf-header-nav-list-item-content
              | Programming Languages DB
          li.dbf-header-nav-list-item
            a(href="/").dbf-header-nav-list-item-content
              span
                | Home
          li.dbf-header-nav-list-item
            a(href='/report').dbf-header-nav-list-item-content
              span
                | Report
          li.dbf-header-nav-list-item
            a(href="/app").dbf-header-nav-list-item-content
              span
                | App
    main.dbf-main
      block content
    footer.dbf-footer
      h6
        | © Samson, Oreo & Barry
