extends layout

block content
  h1.dbf-h1
    | Programming Language DB Report
  br
  p
    | Course - SYCS 432
  p
    | Instructor - Moses Garuba
  p
    | Team Members - Barry Harris, Oreoluwa Onatemowo, Samson Afolabi
  br
  br
  h2.dbf-h2
    | Summary
  br
  p.
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Programming languages have been developed over time in diverse ways.
    Each employing a different paradigm, or a composition of a few, for different purposes and by different computer scientist.
    New students, hobbyist programmers and even seasoned professionals are specific programming languages and styles for their work or education,
    often unaware of alternative uses or paradigms that their favorite programming languages can take advantage of.
    We hope to change that by creating a database that can help users learn more about their favorite programming languages.
  br
  h2.dbf-h2
    | Project Scope
  br
  p.
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Starting January 2016 we will be creating a database which will store the relationship between programming languages,
    various programming paradigms, their creators, years these languages were created, and their possible influences on other languages which came after them.
    After the databse is constructed, we plan to create an interface built on top of the db which wil be publicaly acessible.
    We will be focusing on programming languages, mostly mainstream, that were created within the last 30 years.
  br
  h2.dbf-h2
    | Database Design
  br
  p.
    &nbsp;&nbsp;&nbsp;&nbsp; Our database is designed for low traffic and quick lookups with binary parameters.
    As we chose to apply most of our focus to the Programming Languages themselves, the provided information for
    the other attributes of the Languages, creators / categories / paradigms was minimized at this time.
    In regards to the actual structure of our DB it provides 5 tables, each their own entity only
    related to other entities by creation or implementation; with this in mind we originally approached the
    project with a "One to Many" (1:M) relationship, this quickly grew out of hand when trying to connect the
    many languages with their, possible, many multiple creators and paradigms. After pulling our hair our and
    analyzing the problem, we settled on the "Many to Many" (M:M) design with junction tables providing the
    joining of information between the entities.
  h3.dbf-h3
    | &nbsp;&nbsp; ERD
  br
  .dbf-img-row-flex
    img(src='assets/img/erd.png', alt='Entity Relation Diagram').dbf-img
    img(src='assets/img/erd2.png', alt='An alternate ERD, made with a sql gui').dbf-img
  br
  h3.dbf-h3
    | &nbsp;&nbsp; Relations
  br
  img(src='assets/img/relations.png', alt='Relations and Functional Dependencies').dbf-img
  br
  h3.dbf-h3
    | &nbsp;&nbsp; Functional Dependencies
  br
  img(src='assets/img/fd.png', alt='Listing of functional depenencies').dbf-img
  br
  h2.dbf-h2
    | SQL Schema
  br
  img(src='assets/img/schema.png', alt='SQL breakdwn of Database').dbf-img
  br
  h2.dbf-h2
    | Queries & Updates
  p.
    As we continue to develop the database and main web interface, we'd like to offer
    users the ability to submit other programing languages to the database. Because of
    our design the addition of information is granular, users need only provide a name for the
    language / creator / paradigm and it can instantly be found on the site with it's
    accompanying info (description, creator, paradigm, etc) can be added later without
    any diruption. Some sample inserts / updates are below:
  img(src='assets/img/inserts.png', alt='Example insert query against the database and its result')
  br
  img(src='assets/img/updates.png', alt='Example update query against the database and its result').dbf-img
  br
  h2.dbf-h2
    | Web Scraping & Data insertion
  br
  p.
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; While scouring the net for data we could gather
    and transform into infromation for our database, one of our memebers jumped
    at the idea of writing a python script to accomplish our mission. It got a
    bulk of our raw data, but do to a time constraint we instead scraped from wikipedia
    manually as sanitizing the data scaped with the code would have take too much time.
    However, we do plan on cleaning up the script as a way to automate the addition
    of new languages.
  br
  br
  img(src='assets/img/scrape.png', alt='Code snippet of our web scraping engine').dbf-img


